.sel-area-sel {
  height: 47px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4d4e51;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.12));
  border-radius: 12px;
  margin: 0px 10%;
  padding: 10px 12px;
  
}
