%h2= "Weekly Cher Users List"

%p=" 1. Cher Active paid agents in Cher-Paid-Agents.csv"
%p=" 2. Cher Inactive and non-paid agents in Cher-Agents.csv"
%p=" 3. Cher Homebuyers in Cher-homebuyers.csv"
%br
%br
%p= "Thanks"
%p= "Cher App"
%br
%br
