.des-card {
  font-family: Karla;
}
.des-card h2 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
.de-p-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
label {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.main-signup-btn {
  background: #c5c3d2 !important;
  border-radius: 8px;
  width: 100%;
  border: 0em;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff !important;
}
.main-signup-btn:hover {
  background: #c5c3d2;
  border-radius: 8px;
  width: 100%;
  border: 0em;
}
.signup-opt-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.already-acc-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.already-acc-txt a {
  text-decoration: none;
  margin-left: 0.5rem;
}
.danger-txt {
  color: red;
}
.modal-container {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 983px;
  height: 679px;
}
.modal-content {
  background: #ffffff !important ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;
  width: 434px !important;
  height: 610px !important;
  padding: 1rem 3rem !important;
  top: 50% !important;
}
