<div id="get-loan-con-page">
  <section>   
  <div class="container">
  <div class="row">
    <div class="col"> &nbsp;</div>
    <div class="col-6 loan-hl-sg">
      <div class="loan-sg-top">
          <p class="loan-sh-top-prg">
            <%= image_tag("loan/cheers1.png", style:'display: inline-block;') %>
          </p>
          <p class="loan-sh-top-prg-sm"><b>Congratulations! You’ve completed the process. One of our loan specialists will contact you shortly.</b></p>
          <p><a href="/look-around" type="button" class="btn btn-primary btn-sm congs-bttn-sg ">Explore Houses</a>
          <a href="/social_networks" type="button" class="btn btn-primary btn-sm congs-bttn-sg ">Explore Co-buyers</a>
        </p>
      </div>
    </div>
    <div class="col"> &nbsp;</div>
  </div>
  </div>
  </section>
</div>