
		<!-- Loan part Start -->
<div id="get-loan-con-page">
	<!-- Loan part Start -->
    <section>
    
        <div class="container">
  <div class="row">
    <div class="col"> &nbsp;</div>
      
    <div class="col-6 loan-hl-sg">
        
        <div class="loan-sg-top">
            <p class="loan-sh-top-prg">Let's Go!</p>
            <p class="loan-sh-top-prg-sm"> Here at Cher, we make it as easy as possible to get you into a home. Choose whether you'd like to continue online or over the phone.</p>
        </div>
        
            <!-- Complete online Start -->
            <div class="loan-box-md">
                <div class="row" style="margin: 0px;">
                    <div class="col-12 loan-box-rec-sg">
                        <span class="loan-box-recmm-left"></span>
                        <span class="loan-box-recmm-right">Recommended</span>
                    </div>
                <div class="col-4 loan-sg-algn">
                    <%= image_tag("landing/loan01.png") %>
                </div>
                    
                <div class="col-8">
                    
                    
                    <p class="loan-box-compl-head">Complete online</p>
                    <p class="loan-box-compl-sub">It takes 10 minutes to complete</p>
                    <a href="/co_borrower/loans/user_loan_form" type="button" class="btn btn-primary btn-sm loan-box-compl-bttn">Start</a>
                    
                </div>    
                </div>

                </div>
             <!-- Complete online End -->
        
            <!-- Contact Team Start -->
                <div class="loan-box-md">
                    <div class="row" style="margin: 0px;">
                    <div class="col-4 loan-sg-algn">
                        <%= image_tag("landing/loan2.png") %>
                    </div>

                    <div class="col-8">
                        <p class="loan-box-compl-head">Contact our team</p>
                        <p class="loan-box-compl-sub">Reach out directly to a homebuyer specialist</p>
                        <a rel="noopener" target="_blank" href="https://calendly.com/joincher/free-one-on-one-with-cher" type="button" class="btn btn-outline-primary btn-sm loan-box-team-bttn">Start</a> 
                    </div>    
                    </div>

                    </div>
            <!-- Contact Team End -->

    </div>
      
    <div class="col"> &nbsp;</div>
  </div>
        </div>
    </section>
    <!-- Loan part End -->

</div>
		<!-- Loan part End -->