%section.green-filter
  .container.section
    %h3.is-size-3.m-b-lg.has-text-centered-tablet.has-text-center-desktop.is-family-primary{style:'color: #fbf7f7;'}
      Gain a competitive edge
    .columns.is-marginless.is-multiline
      / .column.is-paddingless.is-12-tablet.is-4-desktop.m-t-xl.is-marginless-tablet.is-3-widescreen
      /   %h3.is-size-3.has-text-primary.m-b-lg.has-text-centered-tablet.has-text-left-desktop.is-family-primary
      /     Need a competitive edge?
      .column.is-paddingless.is-12-tablet.is-8-desktop.double-cards-container.is-offset-1-widescreen
        .card
          .card-header.is-blue
            %h3.is-size-3.card-title.is-marginless.is-family-secondary
              %span.has-text-weight-normal
                Clique
              %span
                Premium
          .card-content.has-small-pading
            .is-fully-centered{style: 'justify-content: flex-end;'}
              %span.has-text-primary.is-bold.m-l-sm.is-size-4{style: 'height: 60px;left: 40px;margin-bottom: 18px;position: relative;'}
                $199/Month
              %button.button.is-btn-blue.has-pading-small.m-t-md{ type: 'button', 'data-action': 'landing-page-registration#validateEmail' }
                = 'Get Started'
            %hr
            %ul.has-ticks.has-space-between-items{style: 'line-height: 36px;'}
              %li
                %span
                  Marketed as
                %span.is-bold
                  Preferred Agent
                %span
                  to buyers
              %li
                %span.is-bold
                  Exclusive leads
                %span
                  sent straight to your inbox
              %li
                %span
                  Reach
                %span.is-bold
                  directly
                %span
                  to buyers you want (up to 5)
              %li
                %span
                  Chat live
                %span.is-bold.is-bold
                  in-app
                %span
                  with buyers
            / .has-text-centered
            /   %h3.is-size-2.is-bold.is-family-secondary
            /     Free
            /   = link_to 'Schedule Demo', 'https://calendly.com/joincher/agent?month=2021-04', rel: 'noopenner', target: '_blank', class:'button is-lemon has-pading-small m-t-md', 'data-target': 'mixpanel.link', 'data-link-message': 'Clicked Calendly link'
        .card-one
          .is-yellow
            %h3.is-size-3.is-marginless.is-family-secondary
              %span.has-text-weight-normal
                Limited Time Offer
              / %span
              /   Premium
          .card-content.has-small-pading
            .is-yellow-center
              %span.m-l-sm.is-size-4{style:'position: absolute;left: 30px;'}
                Clique Pro
            %span.is-bold.is-fully-centered{style:'font-size: 24px;margin-left: 30px;'}
              Custom Pricing
            %button.button.is-btn-white.has-pading-small.m-t-md{ type: 'button', 'data-action': 'landing-page-registration#validateEmail' }
              = 'Contact Sales'
            %hr
            %ul.has-stars.has-space-between-items{style: 'line-height: 36px;'}
              %li
                %span.is-bold
                  Everything from Premium
              %li{style:'line-height: 130%;'}
                %span.is-bold
                  Guaranteed pre-qualified buyer letter
                %span
                  in your first month            
              %li
                %span.is-bold
                  Cheaper & Better ROI
                %span
                  than Zillow Premier Agent
              / %li
              /   %span.is-bold
              /     Chat live in app
              /   %span
              /     with new buyers
              / %li
              /   %span.is-bold
              /     Dedicated
              /   %span
              /     Success Manager
            / .has-text-centered.m-t-md
            /   %h3.is-size-2.is-bold.is-family-secondary
            /     $199
            /   = link_to 'Schedule Demo', 'https://calendly.com/joincher/agent?month=2021-04', rel: 'noopenner', target: '_blank', class:'button is-lemon has-pading-small m-t-md', 'data-target': 'mixpanel.link', 'data-link-message': 'Clicked Calendly link'
