@import 'utils/variables';
@import 'vendors/bulma';
@import 'bulma-checkradio/src/sass/index.sass';
@import 'bulma-switch/src/sass/index.sass';
@import 'bulma-carousel/src/sass/index.sass';
@import 'bulma-calendar/src/sass/index.sass';
@import 'bulma-steps-component/bulma-steps.sass';
@import '@creativebulma/bulma-collapsible/src/sass/index.sass';
@import 'font_awesome5_webfont';
@import 'base/base';
@import 'base/typography';
@import 'components/button';
@import 'components/navbar';
@import 'base/spacing';
@import 'themes/rebrand';
@import 'pages/look_around/look_around';
@import 'pages/landing/landing_page';
@import 'pages/landing/slider-positioning';
@import 'pages/dashboard/dashboard';
@import 'pages/custom_pages/custom_pages';
@import 'pages/dashboard/customer_dashboard';
@import 'pages/properties/overview';
@import 'pages/properties/watch_property_form';
@import 'pages/pricing/pricing';
@import 'pages/checkout/checkout';
@import 'pages/social_network/social_network';
@import 'pages/professional_landing_page';
@import 'pages/professional_landing_signup_page';
@import 'pages/profile/profile';
@import 'pages/how_it_works';
@import 'pages/onbording';
@import 'components/card';
@import 'components/activity_feed';
@import 'components/footer';
@import 'components/icon';
@import 'components/input';
@import 'components/panel';
@import 'components/radio_button';
@import 'components/select';
@import 'components/carousel';
@import 'components/container';
@import 'components/link';
@import 'components/user_card';
@import 'components/list';
@import 'components/map_container';
//@import 'pages/vouched/vouched_container';
@import 'components/section';
@import 'components/chat';
@import 'components/sugester_input';
@import 'components/gallery';
@import 'components/steper';
@import 'components/search_network';
@import 'components/progress_bar';
@import 'components/tags';
@import 'components/loader';
@import 'components/range_selector';
@import 'components/modal';
@import 'components/datepicker';
@import 'components/notifications';
@import 'components/images';
@import 'components/recaptcha';
@import 'components/auto-complete';
@import 'components/box';
@import 'components/table';
@import 'components/property_card';
@import 'components/info_hoverable_card';
@import 'components/user_avatar';
@import 'components/paginator';
@import 'components/homebuyer';
@import 'components/signuppop';
@import 'utils/margins';
@import 'utils/fonts';
@import 'utils/alignments';
@import 'utils/effects';
@import 'utils/background';
@import 'utils/grids';
@import 'utils/icons';
@import 'utils/sizings';
@import 'utils/tooltip';
@import 'trix/dist/trix';
@import 'checkout/custom';

.nav-link {
  width: 111px;
  height: 35px;
  background: #dae0ff !important;
  border-radius: 4px;
  margin: 1rem;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1c3360;
  padding: 0;
}
.nav-link:hover {
  background: #3154f5 !important;
  color: #ffffff;
}
.nav-link.active {
  background: #3154f5 !important;
  color: #ffffff !important;
}
.nav-tabs {
  border-bottom: 0px !important;
}
.tab-content {
  height: 60vh;
  overflow-y: scroll;
}

body .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
}

.h1-head-txts {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #080e2d;
  width: 60%;
}
.loc-head-p-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #4d4e51;
}
.sel-area select {
  height: 47px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4d4e51;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.12));
  border-radius: 12px;
  margin: 0px 10%;
  padding: 10px 12px;
}

.location-box {
  overflow: hidden;
}
.row {
  margin: 0%;
}

.amount-sel-area select {
  border: 2px solid #3154f5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 50px;
  padding: 10px 12px;
}
.phone-input {
  border: 2px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 4px;
}
.ph-label {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
.ph1-label {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #4d4e51;
}
#textreview {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #afb1b9;
  border: 2px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 4px;
}
.copy-p-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #080e2d;
  text-decoration: none;
}
.loc-des-add {
  cursor: pointer;
}
.cont-opt {
  background: #3154f5;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 1rem;
}
.city-box {
  background: #eff3f8;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 8px;
}
.city-box-p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #4d4e51;
}
.main-cards-p-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.form-select {
  border: 2px solid #3154f5 !important;
  box-sizing: border-box;
  border-radius: 4px !important;
}

.sign-in-btn {
  padding: 14px 24px;
  width: 112px;
  height: 50px;
  border: 1.5px solid #080e2d;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 2rem;
}
.sign-up-btn {
  width: 140px;
  height: 50px;
  padding: 14px 31px;
  background: #3154f5;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 1rem;
}
.row {
  width: 100%;
}
a {
  text-decoration: none;
}
.top-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #080e2d;
}
.search-city-box {
  background: #ffffff;
  border-radius: 4px;
  width: 10%;
}
.search-city-box input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1c3360 !important;
}
.search-city-box select {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1c3360 !important;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid white;
}
.search-city-box option {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1c3360 !important;
  margin: 0.5rem;
}

.popular-seg {
  max-width: 356px;
  height: 136px;
  padding: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  margin-left: 20px !important;
  border-radius: 8px;
  margin-bottom: 20px !important;
}

.poplr-txt {
  padding-left: 19px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.card-list {
  padding-left: 0;
}
.card-list li {
  display: block;
  float: left;
  padding: 0;
}
.card-list ul {
  display: inline-block;
  padding: 0;
}
.right-botcard {
  padding: 5px;
  padding-left: 2px;
}
.right-cardimg img {
  width: 154px;
  margin-right: 8px;
}
.carousel-item img {
  max-width: 100%;
  min-height: 100%;
}
.card-img-bottom {
  max-width: 100%;
}
.right-cardpro {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #080e2d;
}
.top-cardpro {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #080e2d;
}
.bot-head {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #080e2d;
}
.bot-price {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #1c3360;
}
.bot-small {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 12px;
  padding-right: 5px;

  color: #080e2d;
}
.bot-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #080e2d;
}
.bot-btm {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #080e2d;
}
.ver-tabcontent {
  position: absolute;
  top: 50%;
  left: 65%;
}
.left-p-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4d4e51;
}
.left-h1-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #1c3360;
}
.left-img-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1c3360;
}
.add-card-btn {
  padding: 6px 24px;
  background: #3154f5;
  border-radius: 4px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.msg-card-btn {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1c3360;
  margin-left: 2rem;
  border: 1px solid black;
  padding: 6px 24px;
}

.big-tab-card {
  border: 0px;
}
.more-filter-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1c3360;
  padding: 1rem;
}
select {
  border-radius: 4px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 12px;
  margin: 0px 18px;
}
.tool-tip-des a title {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

/* Home Info Page */
.homeinfo-head {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1c3360;
}
.get-loan-card {
  width: 100%;
  height: 460px;
  border: 1px solid #dae0ff;
  box-sizing: border-box;
  box-shadow: 0px 9px 38px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}
.overview-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #333333;
}
.overview-p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
.bg-violet {
  background: #dae0ff;
}
.bg-violet p {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.descrp-area p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 0px;
}
.get-loan-card h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin: 0rem 0.5rem;
}
.txt13 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 0rem 0.5rem;
}
.area2 p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 0px;
}
.area2 h4 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}
#slider {
  outline: none;
  width: 70%;
}
#slider::-webkit-slider-thumb {
  outline: none;
}
/* div.sliderContainer {
  width: 25em;
  text-align: center;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  height: 18px !important;
  width: 100%;
  border-radius: 10em;
  background-color: #3154f5;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3154f5;
  cursor: pointer;
  
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #3154f5;
  cursor: pointer;
  border: 3px solid #f4f4f4;
} */
.area3 p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.link-list a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  text-align: center;
  color: #4d4e51;
}

/* .selClass {
  height: 47px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4d4e51;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.12));
  border-radius: 12px;
  margin: 0px 10%;
  padding: 10px 12px;
} */
.css-1s2u09g-control {
  width: 100%;
}


.progressbar {
  width: 80%;
  height: 8px;
  background: rgba(49, 84, 245, 0.31);
  border-radius: 100px;
  margin-bottom: 50px;
}
.container {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 983px;
  height: 700px;
  overflow-y: scroll;
  position: absolute;
  top: -9%;
  left: -88%;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  border-radius: 100px;
  background: #3154f5;
}
.back-opt {
  border: 1px solid #080e2d !important;
  border-radius: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #080e2d;
  padding: 5px 20px;
  margin: 1rem;
}
.cont-opt {
  background: #3154f5;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 1rem;
}
.skip-opt {
  border-radius: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #080e2d;
  padding: 5px 20px;
  margin: 1rem;
}

.sel-area-sel {
  height: 47px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4d4e51;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.12));
  border-radius: 12px;
  margin: 0px 10%;
  padding: 10px 12px;
}

.input-box input {
  border: none;
}
.search-img {
  width: 18.71px;
  height: 18.71px;
}
.list-name {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #080e2d;
}
.search-alpha-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #080e2d;
}
.chat-head-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #080e2d;
}
.chat-btns {
  margin-top: 250px;
}
.done-btn {
  background: #e1e7ff;
  border-radius: 4px;
  padding: 5px 10px;
}
.done-btn:hover {
  background-color: #3154f5;
}
.done-btn a:hover {
  color: #ffffff;
}
.done-btn a {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  color: #afb1b9;
}
a:hover {
  text-decoration: none;
}
.cancel-lnk a {
  color: #3154f5;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.dropdown-left {
  background: #fafcfe;
  border-radius: 12px 0px 0px 12px;
  color: #080e2d;
}

.des-card {
  font-family: Karla;
}
.des-card h2 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}
.de-p-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
label {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.main-signup-btn {
  background: #c5c3d2 !important;
  border-radius: 8px;
  width: 100%;
  border: 0em;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff !important;
}
.main-signup-btn:hover {
  background: #c5c3d2;
  border-radius: 8px;
  width: 100%;
  border: 0em;
}
.signup-opt-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.already-acc-txt {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.already-acc-txt a {
  text-decoration: none;
  margin-left: 0.5rem;
}
.danger-txt {
  color: red;
}

.maincard-head-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
}
.icon-des-list p {
  margin-bottom: 0px;
  margin-left: 0.5rem;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #4d4e51;
}
.icon-des-list h3 {
  margin-bottom: 0px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #080e2d;
}
.similar-home-card {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin-top: 0.5rem;
  width: 90%;
  padding: 1rem;
}
.add-opt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 60%;
  background: #3154f5;
  border-radius: 3px;
}
.main-container {
  background: #ffff;
  border-radius: 12px;
  width: 916px;
  height: 704px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.similar-homesarea-cards {
  overflow-y: scroll;
  height: 400px;
  width: 50%;
}


